<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>sadsad</title>
  </head>
  <body>
  	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand" href="/">LOGO_HERE</a>

		  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item">
		        <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/orders">Orders</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/cart">Cart</a>
		      </li>		      
		    </ul>

		    <ul class="navbar-nav mt-2 mt-lg-0 align-items-end">
		      <li class="nav-item">
		        <a class="nav-link" href="/register">Register</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/login">Login</a>
		      </li>		      
		      <li class="nav-item">
		        <a class="nav-link" href="/logout">Logout</a>
		      </li>		      		      
		    </ul>
		  </div>
		</nav>
	</header>

	<main>
		<div class="container pt-2 pb-5 mb-5">