<%- include("includes/header.ejs"); %>
	<h2>My Cart</h2>
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
		  <%= error %>
		</div>				
	<% } else { %>		
		<% let ctr = 1 %>
		<% data.result[0].products.forEach(function(cartItem){ %>
			
			<div class="card mb-1 mt-3">
			  <div class="card-body">
			    <h5 class="card-title">
			    	<%= cartItem.name %> <small class="float-right">
			    	<a href="/cart/remove/<%= cartItem.productId %>">Remove From Cart</a></small>
			    </h5>
			    
			    <p class="card-text">Price: <%= cartItem.price %></p>
			    <p class="card-text">
			    	Quantity:
			    	<select onchange="location = this.value;">
					<% for(let i=0; i < 30; i++) { %>
					    <option value="/cart/quantity/<%= cartItem.productId %>?quantity=<%= i %>" <% if (cartItem.quantity == i) { %>selected="selected"<% } %>><%= i %></option>
					<% } %>    		
			    	</select>
			    </p>
			    <p class="card-text">Subtotal: <%= cartItem.subtotal %></p>
			  </div>
			</div>	
			<% ctr++ %>		
		<% }); %>		
			
		<div class="bg-dark text-white p-3 mt-2">
			<h3>Shipping Fee: <%= data.result[0].shipping %> </h3>
			<h3>Tax: <%= data.result[0].tax %>% </h3>
			<h4>
				Cart Total: <%= data.result[0].total + data.result[0].shipping + (data.result[0].total * [data.result[0].tax/100]) %>
				<a href="/checkout" class="btn btn-success float-right">Checkout Now!</a>
			</h4>
		</div>		
	<% } %>		
<%- include('includes/footer.ejs'); %>