<%- include("includes/header.ejs"); %>
<div class="jumbotron">
  <h1 class="display-4">Welcome Admin!</h1>
  <p class="lead">You’re one stop tech shop.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nibh urna, rutrum a ex id, mollis rhoncus mi. Sed enim quam, condimentum nec semper eget, feugiat sed urna. Donec luctus quam augue, nec porttitor sem viverra a. Cras eleifend gravida magna quis pellentesque. Sed pharetra nunc et lacinia consectetur. Mauris cursus lobortis augue, in tincidunt eros tempor at. Curabitur lacinia dolor eget neque pretium auctor.</p>
</div>
<%- include('includes/footer.ejs'); %>