<%- include("includes/header.ejs"); %>
	<div class="jumbotron">
	  <h1 class="display-4">OHMZ MY EHRROWR!</h1>
		<% if (locals.error) { %>
			<div class="alert alert-danger" role="alert">
			  <%= error %>
			</div>				
		<% } %>		  

	  <hr class="my-4">
	  <p class="lead">
	    <a class="btn btn-danger btn-lg" href="/register" role="button">Register Now!</a>
	    <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
	  </p>
	</div>
<%- include('includes/footer.ejs'); %>