<%- include("includes/header.ejs"); %>

<div class="jumbotron">
  <h1 class="display-4">Welcome To B-Shoppe!</h1>
  <p class="lead">You’re one stop tech shop.</p>
  <hr class="my-4">
  <p>Affordable electronics for hobbyists and professionals. Find your best electronic components here.</p>
  <a class="btn btn-primary btn-lg" href="/products" role="button">Products</a>
</div>
<%- include('includes/footer.ejs'); %>