<%- include('includes/header.ejs'); %>
	<div class="card bg-dark text-white">
	  <div class="card-body">
	    <h5 class="card-title">Login To Your Account</h5>
			<form method="post">
			  <div class="form-group">
			    <input type="email" class="form-control" name="email" placeholder="email">
			  </div>
			  <div class="form-group">
			    <input type="password" class="form-control" name="password" placeholder="password">
			  </div>
			  
				<% if (locals.error) { %>
					<div class="alert alert-danger" role="alert">
					  <%= error %>
					</div>				
				<% } %>			  
			  <input type="submit" class="btn btn-primary" value="Submit" />
			</form>	
	  </div>
	</div>
<%- include('includes/footer.ejs'); %> 