<%- include("includes/header.ejs"); %>
		  
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
		  <%= error %>
		</div>				
	<% } %>			


	<h2>My Orders</h2>

	<% for(let i=0; i < data.length; i++) { %>
	<div class="card mb-1 mt-3">
	  <div class="card-body">
	    <h4>Order #: <%= data[i]._id %></h4>
	    <h5>Overall TotaL: <%= data[i].overAllTotal %></h5>
	    <h6>Status: <%= data[i].status %></h6>
	    <p>Purchased Date: <%= data[i].purchasedOn %></p>
	    <a href="/orders/<%= data[i].id %>" class="btn btn-primary">More Details</a>
	  </div>
	</div>
	<% } %>	
	
<%- include('includes/footer.ejs'); %>