<%- include("includes/header.ejs"); %>


	<h1 class="display-4">ORDER #<%= data[0]._id %></h1>
	<% data[0].items.forEach(function(orderItem){ %>	
		<div class="card mb-1 mt-3">
		  <div class="card-body">
		    <h5 class="card-title"><%= orderItem.name %></h5>		    
		    <p class="card-text">Price: <%= orderItem.price %></p>
		    <p class="card-text">Quantity: <%= orderItem.quantity %></p>
		    <p class="card-text">Subtotal: <%= orderItem.subtotal %></p>
		  </div>
		</div>	
	<% }); %>	

	<div class="bg-dark text-white p-3 mt-2">
		<h5>Shipping Fee: <%= data[0].totals.shippingFee %> </h5>
		<h5>Tax: <%= data[0].totals.tax %> %</h5>
		<h4>Order Total: <%= data[0].totals.overAllTotal %></h4>
	</div>

<%- include('includes/footer.ejs'); %>