<%- include("includes/header.ejs"); %>
	<pre class="bg-info p-2"><%= data.result %></pre>
	<a href="/cart/add/<%= data.result.id %>" class="btn btn-primary">Add to cart</a>
<%- include('includes/footer.ejs'); %>