<%- include("includes/header.ejs"); %>
		  
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
		  <%= error %>
		</div>				
	<% } %>			


	<h2>Our Products</h2>

	<nav class="mt-5 d-flex justify-content-end">
	  <ul class="pagination">
		<% for(let p=0; p < Math.ceil(data.number_of_products/data.perPage); p++) { %>
			<li class="page-item <%= (p === (data.current_page - 1) ) ? 'active' : null; %>"><a class="page-link" href="/products?page=<%= p + 1 %>"><%= p + 1 %></a></li>
		<% } %>	
	  </ul>
	</nav>		

	<% for(let i=0; i < data.result.length; i++) { %>
	<div class="card mb-1 mt-3">
	  <div class="card-body">
	  	<img src="<%= data.result[i].imageUrl %>">
	    <h5 class="card-title"><%= data.result[i].name %></h5>
	    <p class="card-text"><%= data.result[i].description %></p>
	    <p class="card-text">Price: <%= data.result[i].price %></p>
	    <p class="card-text">Active: <%= data.result[i].isActive %></p>
	    <a href="/products/<%= data.result[i].id %>" class="btn btn-primary">More Details</a>
	  </div>
	</div>
	<% } %>	

	<%#= data.number_of_products %>  
	<%#= data.perPage %>
	<%#= data.current_page %>  

	<nav class="mt-5 d-flex justify-content-end">
	  <ul class="pagination">
		<% for(let p=0; p < Math.ceil(data.number_of_products/data.perPage); p++) { %>
			<li class="page-item <%= (p === (data.current_page - 1) ) ? 'active' : null; %>"><a class="page-link" href="/products?page=<%= p + 1 %>"><%= p + 1 %></a></li>
		<% } %>	
	  </ul>
	</nav>					
<%- include('includes/footer.ejs'); %>