<%- include('includes/header.ejs'); %>
	<div class="card bg-dark text-white">
	  <div class="card-body">
	    <h5 class="card-title">Register Your Account</h5>
		<form method="post">
		  <div class="form-group">
		    <input type="text" name="firstName" class="form-control" placeholder="firstName">
		  </div>
		  <div class="form-group">
		    <input type="text" name="lastName" class="form-control" placeholder="lastName">
		  </div>
		  <div class="form-group">
		    <input type="text" name="email" class="form-control" placeholder="email">
		  </div>
		  <div class="form-group">
		    <input type="text" name="mobileNo" class="form-control" placeholder="mobileNo">
		  </div>			  
		  <div class="form-group">
		    <input type="password" name="password" class="form-control" placeholder="password">
		  </div>			 
		  <div class="form-group">
		    <input type="text" name="address[street1]" class="form-control" placeholder="address[street1]">
		  </div>			 
		  <div class="form-group">
		    <input type="text" name="address[street2]" class="form-control" placeholder="address[street2]">
		  </div>			 
		  <div class="form-group">
		    <input type="text" name="address[city]" class="form-control" placeholder="address[city]">
		  </div>			 
		  <div class="form-group">
		    <input type="text" name="address[province]" class="form-control" placeholder="address[province]">
		  </div>			 
		  <div class="form-group">
		    <input type="text" name="address[postalCode]" class="form-control" placeholder="address[postalCode]">
		  </div>		

			<% if (locals.error) { %>
				<div class="alert alert-danger" role="alert">
				  <%= error %>
				</div>				
			<% } %>	
						  				  			  			  			  			  
		  <input type="submit" class="btn btn-primary" value="Submit" />
		</form>	
	  </div>
	</div>    			
<%- include('includes/footer.ejs'); %>