<%- include("includes/header.ejs"); %>

<div class="jumbotron">
  <h1 class="display-4">You have successfully Registered</h1>
  <p class="lead">Please login to get full access!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
<%- include('includes/footer.ejs'); %>